@use './utils' as u;
@use './base' as b;
@use 'sass:math';

.header {
  margin-top: 40px;

  &__logo {
    padding-right: 3rem;
  }

  &__menu {
    gap: 2rem;
    flex-wrap: wrap;
  }

  &__link:hover {
    color: var(--color-primary-red);
  }
}

.main {
  margin-top: 40px;
  gap: 1.5rem;

  @media (width >=u.em(math.div(b.$content-max-desktop * 6.5, 10))) {
    grid-template-columns: 6.5fr 3.5fr;
  }
}

.top {
  column-gap: 1rem;
  row-gap: 1rem;

  @media (width >=u.em(math.div(b.$content-max-desktop, 2))) {
    grid-template-columns: 4fr 6fr;

    &__image {
      grid-column: span 2;
    }
  }


  &__image>* {
    width: 100%;
  }

  &__description {
    padding-bottom: 1rem;
  }

  &__title {
    width: 80%;
  }

  &__text {
    margin-bottom: 2rem;
  }

  &__link {
    letter-spacing: .4ch;
    text-transform: uppercase;
  }
}

.recent {
  background-color: var(--color-gray-800);
  color: var(--color-gray-200);
  padding: 1.5rem;
  width: 100%;

  &__heading {
    color: var(--color-primary-orange);
    margin-bottom: 1rem;
  }

  &__title {
    color: var(--color-gray-100);
  }

  &__item:not(:last-child) {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1.5px solid var(--color-gray-400);
  }
}

.ranking {
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 1rem;

  @media (width >=u.em(math.div(b.$content-max-desktop * 6.5, 10))) {
    grid-column: span 2;
  }

  &__item {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1.5rem;
  }

  &__image {
    width: 6.8rem;
    grid-row: span 3;
  }

  &__title {
    color: var(--color-gray-800);
  }

  &__number {
    font-size: var(--font-scale-600);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-200);
    align-self: start;
  }
}
